<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dev>
            <maillogger>
                <is_enabled>0</is_enabled>
                <disable_mail_communication>0</disable_mail_communication>
                <enable_email_cleanup>1</enable_email_cleanup>
                <email_clean_period>90</email_clean_period>
            </maillogger>
        </dev>
    </default>
</config>
